* {
   font-family: 'Roboto', sans-serif;
   box-sizing: border-box;
}

body {
   background-color: #f6f8fc;
}

.content {
   height: 100vh;
   width: 100vw;
   padding: 1rem;
   background-color:gainsboro;
  
}

.content .bannerPokedex {
   max-width: 100%;
   height: 100;
   display: flex;
   justify-content: center; /* Centraliza horizontalmente */
   align-items: center; /* Centraliza verticalmente */

}

@media screen and (min-width: 992px) {
   .content {
      max-width: 992px;
      height: auto;
      margin: 1rem auto;
      border-radius: 1rem;
   }
}